
<div class="container">
        <div class="card card-container">
         
				<h2 style="text-align: center;margin:10px">Forget Password</h2>
				
				<form class="form-signin" name="userform" method="post">
						<div class="form-group">
                				<input type="email" data-ng-model="emailForPwdChange" data-ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" id="inputEmail" class="form-control" placeholder="Enter Email..." required >
               					<span data-ng-show="userform.email.$error.required && userform.email.$touched" style="color: red">Email is required</span>
               					<span data-ng-show="userform.email.$error.pattern" style="color: red">Please enter valid Email</span>
               			</div>	
               			
               		  <button class="btn btn-lg btn-primary btn-block btn-signin" data-ng-disabled="userform.$invalid" type="submit" data-ng-click="forgetPassword()">Submit</button>
               			
						<!-- Enter Email:<input type="email" ng-model="emailForPwdChange">
						<button ng-click="forgetPassword()">Submit</button> -->
				</form>
		</div>
</div>
