

	<div id="title" contenteditable1
		contentEditable=true ng-model="$ctrl.updateTitle" data-placeholder="Title..." 
		spellcheck="false" ng-bind-html="$ctrl.updateTitle"></div>

	<div id="description" contenteditable1 contentEditable=true
		ng-click="inputNote()" ng-model="$ctrl.updateDescription"
		data-placeholder="Take a note..." spellcheck="false" ng-bind-html="$ctrl.updateDescription"></div>

	<div id="notefooter">
		<a href="#" id="img"><span aria-hidden="true"><img alt="" src="image/remainder.svg"></span></a> 
		<a href="#" id="img"><span aria-hidden="true"><img alt="" src="image/collaborator.svg"></span></a>
		<a href="#" id="img"><span aria-hidden="true"><img alt="" src="image/addimage.svg"></span></a> 
		<a href="#" id="img"><span aria-hidden="true"><img alt="" src="image/color.svg"></span></a> 
		<a href="#" id="img"><span aria-hidden="true"><img alt=""src="image/archieve1.svg"></span></a>
		<a href="#" id="img"><span aria-hidden="true"><img alt=""src="image/list.png"></span></a>
		<button id="donebutton" type="button" ng-click="$ctrl.updateNote($ctrl.noteId)">Done</button>
	</div>


