@CHARSET "UTF-8";

.body{
	background-color: #ddd;	
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    overflow-y: auto;
    margin-left: -250px;
    width: 0;
    height: 100%;
    background:#ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 15px;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    color: #777;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #777;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*  navbar css   */

#navbar1{
	
	height: 65px;
	padding: 10px 10px;
}

 #menu-toggle{
 	 margin-left: -8px;
 	 color:black;	
}
 
 #website-name{
 	 margin-left: 3px;
 	 color:black;
 	 font-size: 22px;
 }

 .navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}

[contentEditable=true]:empty:before{
    content:attr(data-placeholder);
    color: grey;
    font-size: 15px;
 }

#card{
	width:600px; 
	margin-top:70px;
	background-color: white;
	padding: 0px;
}
#donebutton{
	background-color: white;
	border: none;
	float: right;
	padding-right: 20px;
}

#title{
	min-height: 30px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: initial;
	font-weight: bold;
	outline: none;
}

#description{
	min-height: 40px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: initial;
	outline: none;
}

#notefooter{
	min-height: 30px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#img{
	padding-left: 25px;
}


#notes{
	width: 205px;
	background-color: white;
	
}

/* #query{
    width: 400px;
    height: 40px;
    margin-top: -10px;
 
} */
 /* 
.input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: -1;
    height: 48px;
    margin-top: -10;
    background-color: white;
} */
